<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en_US</key>
	<dict>
		<key>chronicHiFlow</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>systemOnePlus</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>versi</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>apollo</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>en_GB</key>
	<dict>
		<key>chronicHiFlow</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>systemOnePlus</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>versi</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>apollo</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>es_US</key>
	<dict>
		<key>chronicHiFlow</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>systemOnePlus</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>versi</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>apollo</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>fr_FR</key>
	<dict>
		<key>chronicHiFlow</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>systemOnePlus</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>versi</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>apollo</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>it_IT</key>
	<dict>
		<key>chronicHiFlow</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>2</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>systemOnePlus</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>versi</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>apollo</key>
		<dict>
			<key>UndefinedUicVersion</key>
			<dict>
				<key>Minor</key>
				<integer>1</integer>
				<key>Major</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
